<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Medusa Search Engine</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        .content {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .slagon {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: #000;
        }
    </style>
</head>

<body>
    <div class="content">
        <object data="static/medusa.svg" type="image/svg+xml"></object>
        <div class="slagon">Medusa Search Engine</div>
    </div>

</body>

</html>